
@{
    ViewBag.Title = "Foster";
}

@*<h2>Foster</h2>*@
@*<article class="col-xs-12 col-sm-8 col-md-6 col-md-push-3" style="color: #333333;">*@
<br />
<header>
    <h1>Foster an Animal</h1>
</header>Thank you for your interest in becoming a SOLAS foster parent volunteer.

    Foster parents provide temporary care for cats and kittens in their own Omaha/Council Bluffs area homes. Some animals need as little as two weeks of care, while others may need care for a longer term.
<p class="No_0020Spacing">Our greatest foster needs are:</p>

<ul>
    <li>Cats<span class="No_0020Spacing__Char"> </span></li>
    <li>Momma cats with litters</li>
    <li>Orphaned kittens</li>
</ul>
<p class="No_0020Spacing">Fostering is flexible enough for most lifestyles and SOLAS will custom-match the animals to each foster home. By offering your time, energy and home to an animal in need, you prepare the animal for adoption into a permanent home as well as help prevent overcrowding in the Midlands Humane Society shelter. SOLAS is always looking for more foster homes, especially throughout the busy spring and summer seasons.</p>

<h2>Most common reasons animals require foster care:</h2>
<ul>
    <li>Kittens that are too young to be spayed or neutered and adopted out into permanent homes. When the animals are eight weeks old and weigh at least two pounds, they can be spayed or neutered and made available for adoption.</li>
    <li>Cats that are nursing a litter of kittens. Although the shelter is a safe environment, it is not the best for raising babies.</li>
    <li>Cats that are being treated for injuries or illnesses.</li>
    <li>To prevent euthanization due to the shelters being over capacity.</li>
</ul>
<span style="font-weight: bold;">SOLAS provides:</span> all veterinary care and medicine for foster animals, pet supplies, such as cat litter and food, plus plenty of support to foster parent volunteers.
<span style="font-weight: bold;"> </span>
<br />
<span style="font-weight: bold;">Foster parent volunteers provide:</span> time and a place in their home and lots of love.
<h2>How foster care works</h2>
<ul>
    <li>When SOLAS receives animals who are not ready to be put up for adoption, we contact foster parent volunteers. If a foster volunteer is not available to foster at that time, we simply try another person. There will be plenty of other opportunities to foster, so there is no pressure to take an animal.</li>
    <li>We also work directly with the Council Bluffs Animal Shelter to try and place animals into foster homes before they are put down.</li>
    <li>Foster parents with our volunteers to arrange a pick up or drop off of the foster animal to take home. At that time, volunteers receive information about the animal’s condition and needs.</li>
    <li>Foster parents may need to bring the animal to a vet periodically to be examined, receive vaccinations, get spayed/neutered, or other treatment.</li>
    <li>There will be opportunities for the foster parent to bring their fosters to Petco (72nd and Dodge) or PetSmart (Council Bluffs) to try to get them adopted.</li>
</ul>
    
<h2>Get started</h2>
    If you are interested in volunteering with SOLAS, please follow these steps:
<ol>
    <li style="list-style-type: none;">
        <ol>
            <li><span style="font-weight: bold;">Be of age</span>. The primary caregiver of the foster animal must be at least 18 years old. However, young people can help at home.</li>
            <li><span style="font-weight: bold;">Check out the requirements document below. </span>These are very simple requirements that we look for in foster families.</li>
            <li><strong>Attend foster meeting</strong>. You will learn about program expectations, basic medical information, and have all your questions answered.  Check out the event page for future meetings.</li>
            <li><strong>Start saving lives</strong>. SOLAS will match you with the foster animals that suit your lifestyle.</li>
        </ol>
    </li>
</ol>
<span style="font-weight: bold;">Please note that SOLAS cannot accommodate those seeking to fulfill court-ordered community service.</span>
<ul>
    <li><a href="~/files/REQUIREMENTS-FOR-FOSTER-FAMILIES.pdf">Requirements for foster families</a></li>

    <li><a href="~/files/SOLAS-Foster-Release.pdf">SOLAS Foster Release</a></li>

    <li><a href="~/files/SOLAS-Cat-Home-Visit-Checklist.pdf">SOLAS Cat Home Visit Checklist</a></li>
</ul>
<a class="btn btn-primary typewriter" href="mailto:foster@solaspetadoption.org ?Subject=Foster" target="_top">SEND US AN EMAIL!</a>

@*</article>*@

@*<aside class="col-xs-12 col-sm-4 col-md-3 col-md-push-3" style="color: #333333;"></aside>*@
<br />