
@{
    ViewBag.Title = "Volunteer";
}
<br />
<h2>Volunteer</h2>

<span style="color: #3a3a36;">SOLAS has many different areas in which to volunteer. Some of these include assisting at the shelter, foster care, publicity, or fundraising. Meetings are generally held the second Tuesday of each month with special activities scheduled as needed or required. If you would like more information, please email us at <a href="mailto:volunteer@solaspetadoption.org?Subject=Volunteer" target="_top">Volunteer Email</a>.</span>

Other ways to volunteer:
<ul>
    <li>At the shelter helping potential "families" select the animal that will be right for them.</li>
    <li>At the shelter helping with adoption paperwork</li>
    <li>At the shelter walking dogs</li>
    <li>At the shelter helping clean kennels or bathe and groom animals</li>
    <li>At the shelter sorting and putting away donations of food, blankets, toys, etc.</li>
    <li>In Temp-Adopt-Foster Care program taking care of animals in your home</li>
    <li>Fundraising</li>
    <li>At off-sites (pet stores &amp; events) adopting out foster animals to new fur-ever homes.</li>
</ul>
There is a HUGE need for volunteers!

