
@{
    ViewBag.Title = "WantsList";
}

<br />
<h2>WantsList</h2>
<br />
<strong>We have set up an Amazon Wish List page:</strong>

<a href="http://smile.amazon.com/registry/wishlist/2E944G7ME99DB/ref=cm_sw_r_fa_ws_79aIvb0VCP4ZQ" target="_blank" rel="noopener">SOLAS Amazon Wish List</a>

<strong>Besides monetary donations or Amazon, SOLAS can always use the items below.  </strong>
<ul>
    <li>
        gift cards
        <ul>
            <li>Wal-Mart, PetSmart, Petco, HyVee</li>
        </ul>
    </li>
    <li>
        un-opened pet food
        <ul>
            <li>name brand cat food (<strong>Especially Purina Kitten Chow</strong>)</li>
        </ul>
    </li>
    <li>powdered KMR (kitten milk replacement)</li>
    <li>grooming supplies (brushes, shampoo, nail trimmers)</li>
    <li>new litter pans &amp; scoops for foster care</li>
    <li>pet treats</li>
    <li>stainless steel feeding bowls</li>
    <li>new or usable baby blankets and wash rags</li>
    <li>towels</li>
    <li>kitty litter</li>
    <li>scratching posts</li>
    <li>cat carriers</li>
    <li>pill pockets, toys, cat/dog treats</li>
    <li>flea treatment</li>
    <li>animal crates</li>
    <li>cat beds and covers</li>
</ul>
