
@{
    ViewBag.Title = "Events";
}
<br />
<p><h1>SOLAS Events</h1></p>

<h2>Current Events</h2>

<p>
    We really need your help! 
    In order for SOLAS to receive a donation from Corky Canvas on June 5th, we need a MINIMUM of 15 people to sign-up for the class. 
    Please please please consider joining us for this super fun painting class or sharing with your friends. 
    We currently only have 5 registeted. :( <br />

    So TAKE a BREAK from KITTEN SEASON and have a little fun! The details are below...<br />

    Corky Canvas will be hosting SOLAS on June 5th, 6:30-8:30. For every $35 registration, they will donate $12 to SOLAS to help us save more kitties.
    <br />
    The class is for all beginner painters and we have selected a gorgeous colorful Lion to represent all the strength that we put into our rescue group.
    <br />
    The registration is super easy & the link is listed below. It is open to the public, so please please please share with your family & friends!
    <br />
    <a href="https://www.corkycanvas.com/event/2254/paint-and-save-the-cats-fundraiser-open-to-the-public-lion">https://www.corkycanvas.com/event/2254/paint-and-save-the-cats-fundraiser-open-to-the-public-lion</a>
    <br />
    I hope to see all of you there!!! And most of all... thanks for all you do!

<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999.3588107015785!2d-95.96171098483408!3d41.2575228119991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87938e432a77ece7%3A0xe1672b46c37461ae!2s3157+Farnam+St%2C+Omaha%2C+NE+68131!5e0!3m2!1sen!2sus!4v1525909138607" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>

