
@{
    ViewBag.Title = "Events";
}
<br />
<p><h1>SOLAS Events</h1></p>

<h2>Current Events</h2>

<p>Advance America will be hosting SOLAS for an 
    Adoption Event and Food & Litter Drive!!! 
    Come out to Advance America in Lake Manawa on 
    <br /><em>August 19th from 9:30am to 1:30pm </em><br />
    and meet adoptable SOLAS kitties. 
    Can't adopt? No problem! Bring a bag of Purina cat/kitten 
    Chow or a container of scoopable litter to help the SOLAS foster kitties! 
    Thanks for your support!!!</p>
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3000.683469772578!2d-95.85019148483597!3d41.228667879279136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793843724e388bf%3A0xe77d5319c400397d!2s3134+Manawa+Center+Dr+%234%2C+Council+Bluffs%2C+IA+51501!5e0!3m2!1sen!2sus!4v1501456867359" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>

