
@{
    ViewBag.Title = "Adopt";
}

@*<h2>Adopt</h2>*@



<div align="center">
    <br />
    <img class="alignnone size-full wp-image-481" src="~/images/SOLAS.png" alt="" width="1000" height="302" />
    <p>Questions about adopting? We will gladly answer them. Please email us:</p>

    <a href="~/files/AdoptionApplication-Fillable.pdf">Adoption Application</a> (Please submit to email below)<a href="mailto:adopt@solaspetadoption.org ?Subject=Adoption" target="_top">
        Email SOLAS
    </a>

    &nbsp;
    <br />
    <br />

    <iframe style="width: 700px; height: 600px; margin: 0;" src="https://fpm.petfinder.com/petlist/petlist.cgi?shelter=IA82&status=A&age=&limit=25&offset=0&animal=&title=&style=13&ref=x7sordWp2PBBRS1" width="700px" height="600px" hspace="0" vspace="0" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" bordercolor="#000000"></iframe>

</div>
