
@{
    ViewBag.Title = "Adopt";
}

<h2>Adopt</h2>

<img class="alignnone size-full wp-image-481" src="~/images/SOLAS.png" alt="" width="1000" height="302" />

<p>Questions about adopting? We will gladly answer them. Please email us:</p>

<a href="http://solaspetadoption.org/wp-content/uploads/2014/11/AdoptionApplication-Fillable.pdf">Adoption Application</a> (Please submit to email below)<a href="mailto:adopt@solaspetadoption.org ?Subject=Adoption" target="_top">
    Email SOLAS
</a>

&nbsp;
<br />
<br />
<iframe style="width: 700px; height: 600px; margin: 0;" src="https://fpm.petfinder.com/petlist/petlist.cgi?shelter=IA82&amp;status=A&amp;age=&amp;limit=25&amp;offset=0&amp;animal=&amp;title=&amp;style=10&amp;ref=PwIlIVl93ihw8vE" width="700px" height="600px" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes"></iframe>

