
@{
    ViewBag.Title = "Cat_Of_The_Month";
}

<br />
<h2 align="center">Cat Of The Month - December 2018</h2>
<img src="~/images/Cats/Pancake.jpg" style="width: 40%; height: 40%; display:inline-block" />
<img src="~/images/Cats/Pancake2.jpg" style="width: 40%; height: 40%" />
<br />
<br />

<b>***December Special*** As our December Cat of the Month, Pancake's adoption donation is reduced to just $35!</b>

<section class="pet-profile-container u-clearfix">
    <header>
        <h2 class="section-head" data-id="about-header">ABOUT Vader and Princess</h2>
    </header>
    <div data-id="description">
        <b><i>Cause baby, now we've got Bad Blood.</i></b>
        <br />
        Just as beautiful as Taylor Swift, our pretty Pancake is back up for adoption... with a different type of bad blood. 
        She was returned after a few weeks because her person developed severe allergies. 
        But that's not the worst of it. Her recent vet check showed a positive blood test for FIV, or kitty aids. 
        She was previously tested, but the test can take several months to be accurate. 
        She has not had any health issues, she is a happy & playful kitty! 
        Despite all the set-backs, SOLAS will not give up on her! Pancake #4591 is a 6 month old, brown tabby kitten that loves everyone! 
        You probably remember her... because you helped to name her a few months ago!
        Her virus has a very low transmission rate to other cats & does not infect people/dogs/etc, but we always recommend that you understand the condition. 
        Please refer to this link for more information. https://pets.webmd.com/cats/cat-fiv-feline-immunodeficiency-virus#1  
        If you are interested in adopting Pancake, contact her foster mom Misty at 712-309-5823.
    </div>
</section>
@*<aside id="features-wrapper" class="more-info">
        <h4></h4>
        <div data-id="features">House trained • Spayed/Neutered • Current on vaccinations • Primary Color(s): Tabby - Brown or Chocolate • Coat Length: Short</div>
        <div data-id="features"></div>
    </aside>&nbsp;*@