
@{
    ViewBag.Title = "Cat_Of_The_Month";
}

<br />
<h2 align="center">Cat Of The Month - July 2018</h2>
<img src="~/images/Cats/Kingsley.jpg" style="width: 50%; height: 50%" />
<img src="~/images/Cats/Kingsley2.jpg" style="width: 50%; height: 50%"/>
<br />

***July Special*** As our July Cat of the Month, Kingsley's adoption donation is reduced to just $35!

<section class="pet-profile-container u-clearfix">
    <header>
        <h2 class="section-head" data-id="about-header">ABOUT Kingsley</h2>
    </header>
    <div data-id="description">
        Kingsley has the best personality! He's great with dogs, other cats, and kids.
        Talk about gorgeous on the inside AND outside!
        He has one flaw that he hopes you can overlook.
        He has the herpes virus which isn't as bad as it sounds.
        It just means that he has allergy-like symptoms occasionally- sneezes, runny eye.
        If you promise to wipe his watery eye, he promises to love you forever and ever.
        He was born on 8-13-17, so he's just a youngin' with lots of snuggles and playfulness.
    </div>
</section>
@*<aside id="features-wrapper" class="more-info">
        <h4></h4>
        <div data-id="features">House trained • Spayed/Neutered • Current on vaccinations • Primary Color(s): Tabby - Brown or Chocolate • Coat Length: Short</div>
        <div data-id="features"></div>
    </aside>&nbsp;*@