
@{
    ViewBag.Title = "Cat_Of_The_Month";
}

<br />
<h2 align="center">Cat Of The Month - December 2017 / January 2018</h2>




<section class="pet-profile-container u-clearfix">
    <header>
        <h2 class="section-head" data-id="about-header">ABOUT DIZZY</h2>
    </header>
    
    <img src="~/images/Dizzy2.jpg" height="400" width="300"/>   

    <div data-id="description">
        Meet our December Cat of the Month! Dizzy is a shy 1yr old cat. 
        Dizzy got his name because of how he walks. He survived Distemper, a highly fatal cat disease. 
        The consequence of surviving is that he has Cerebellar Hypoplasia. 
        It leaves him being unsteady and unable to walk completely straight.
        Dizzy is a shy little boy, so he needs a quieter home. 
        He gets along fabulously with other cats, so if you already have a cat, Dizzy would love to make friends with him/her. 
        He doesn't mind dogs either. Cat experience is recommended and no children living in the home. 
        Due to his condition, Dizzy can not jump very high. He will need pet stairs to get on furniture. 
        He loves sleeping on couches and beds he can get to! He will need his food and water to be on the floor. 
        For more information on Dizzy, call or text Misty at 712-309-5823. 
        His adoption fee is $50. 
        He is neutered, current on vaccines, dewormed and microchipped.
    </div>
</section>
@*<aside id="features-wrapper" class="more-info">
    <h4></h4>
    <div data-id="features">House trained • Spayed/Neutered • Current on vaccinations • Primary Color(s): Tabby - Brown or Chocolate • Coat Length: Short</div>
    <div data-id="features"></div>
</aside>&nbsp;*@