
@{
    ViewBag.Title = "Cat_Of_The_Month";
}

<h2>Cat_Of_The_Month</h2>

<p style="text-align: left;"><span style="text-decoration: underline;"><strong>June 2017</strong></span></p>
<p style="text-align: center;"><b>Bonnie </b></p>
<img class="alignnone size-full wp-image-518" src="http://solaspetadoption.org/wp-content/uploads/2017/03/bonnie.jpeg" alt="" width="500" height="281" />

***June Special*** As our June Cat of the Month, Bonnie's adoption donation is reduced to just $35!

<section class="pet-profile-container u-clearfix">
    <header>
        <h2 class="section-head" data-id="about-header">ABOUT BONNIE</h2>
    </header>
    <div data-id="description">
        Friendly 3 yr old

        Bonnie is a sweet, friendly 3 year old who could use a diet! She likes to be petted and doesn't mind dogs. She gets along okay with other cats that realize she needs her personal space. She sleeps on the foot of the bed of her foster parents. Bonnie has a funny habit- she loves to drink fresh water out of the bathroom faucet!

        All SOLAS cats are spayed/neutered, current on worming and shots - including rabies vaccination if old enough. Feluk/fiv tested negative and micro chipped. Her adoption donation is $80.

        For more info on Bonnie or to meet her, call/text her foster mom Lora at 402-250-7105 or email lora@solaspetadoption.org.
    </div>
</section>
<aside id="features-wrapper" class="more-info">
    <h4></h4>
    <div data-id="features">House trained • Spayed/Neutered • Current on vaccinations • Primary Color(s): Tabby - Brown or Chocolate • Coat Length: Short</div>
    <div data-id="features"></div>
</aside>&nbsp;