
@{
    ViewBag.Title = "Cat_Of_The_Month";
}

<br />
<h2 align="center">Cat Of The Month - May 2018</h2>


<img src="~/images/Midnight.jpg" />
***May Special*** As our May Cat of the Month, Midnights's adoption donation is reduced to just $35!

<section class="pet-profile-container u-clearfix">
    <header>
        <h2 class="section-head" data-id="about-header">ABOUT MIDNIGHT</h2>
    </header>
    <div data-id="description">
        SOLAS (and Midnight) are still looking for that special home with a little extra love to give. 
        Midnight is a lovely petite 9 month old black neutered male. Very calm personality, not overly lovey, but not skittish either. 
        Through no fault of his own, he has a virus that causes snots. 
        He also has itchy skin which causes him to overgroom. 
        He has just started taking 1/2 of an inexpensive allergy pill (Claritin) everyday and it seems to be helping the itchy skin. 
        He is a good boy about taking his pill and just needs someone who has a little extra love to give. 
        He has been in foster care for <u>11 months now</u>. 
        We're featuring him this month because we love Midnight and we hope that his future 
        family sees him as not only special needs, but special heart as well. 
    </div>
</section>
@*<aside id="features-wrapper" class="more-info">
    <h4></h4>
    <div data-id="features">House trained • Spayed/Neutered • Current on vaccinations • Primary Color(s): Tabby - Brown or Chocolate • Coat Length: Short</div>
    <div data-id="features"></div>
</aside>&nbsp;*@