
@{
    ViewBag.Title = "Donate";
}

<br />
<h2>Donate to SOLAS</h2>

S.O.L.A.S. is a 501(c)(3) non-profit organization as recognized by the IRS. All donations (whatever the amount) are tax-deductible and greatly appreciated.

We assure you that your gift will be well-used and wisely spent. SOLAS is run entirely by volunteers and we work with local pet supply stores and veterinarians to get supplies and services at a discount – so we can stretch our funds to help even more animals.

Your tax-deductible gift will make it possible for animals in distress to receive the care they need, and to have a chance to be adopted into a loving home.

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input name="cmd" type="hidden" value="_s-xclick" />
    <p style="color: #3a3a36;">Donations can be mailed to:</p>
    <p style="color: #3a3a36;">SOLAS<br style="font-weight: inherit; font-style: inherit;" /><span style="font-weight: inherit; font-style: inherit;">1204 North 28 Street<br style="font-weight: inherit; font-style: inherit;" /></span><span style="font-weight: inherit; font-style: inherit;">Council Bluffs IA  51501</span></p>
    Or donate online!
    <input name="hosted_button_id" type="hidden" value="Y7ERHU4BYRNA2" />
    <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image" />
    <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />

</form>