@{
    ViewBag.Title = "Home";
}

<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Mike rocks.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
    -->
<div> <img src="~/images/BranchBannerPlaceholder.jpg" alt="Cats" align="right"> </div>

<div class="row">
    <div class="col-md-4">
        <h2>SOLAS News</h2>
        <p>
            Advance America will be hosting SOLAS for an Adoption Event
            and Food & Litter Drive!!! Come out to Advance America in Lake
            Manawa on <b>August 19th 2017</b> from 9:30am to 1:30pm and meet adoptable
            SOLAS kitties. Can't adopt? No problem! Bring a bag of Purina
            cat/kitten Chow or a container of scoopable litter to help the
            SOLAS foster kitties! Thanks for your support!!!
        </p>
        <p>@Html.ActionLink("Check Out Our Events >>", "Events", "Events", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>We need foster parents!</h2>
        <p>SOLAS is in DESPERATE need of more foster parents!  We have so many cats needing homes and a need places to put them.
        Won't you please help us out?</p>
        <div><p>@Html.ActionLink("Learn more >>", "Foster", "Home", new {@class = "btn btn-default" })</p></div>
        <!--<p><a class="btn btn-default" href="~/Views/Home/Foster.cshtml">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Cat Of The Month</h2>
        <p>Bonnie is a sweet, friendly 3 year old who could use a diet! 
        She likes to be petted and doesn't mind dogs. 
        She gets along okay with other cats that realize she needs her personal space. 
        She sleeps on the foot of the bed of her foster parents. 
        Bonnie has a funny habit- she loves to drink fresh water out of the bathroom faucet!</p>
        <div><p>@Html.ActionLink("Check out the cat! >>", "Cat_Of_The_Month", "Home", null, new { @class = "btn btn-default" })</p></div>
    </div>
</div>