@{
    ViewBag.Title = "Home";
}

<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Mike rocks.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
    -->
<div> <img src="~/images/BranchBannerPlaceholder.jpg" alt="Cats" align="right"> </div>

<div class="row">
    <div class="col-md-4">
        <h2>SOLAS News</h2>

        <p>
            Turn your Father's Day shopping into a force for good. 
            Shop at <a href="http://smile.amazon.com/ch/42-1442648"> http://smile.amazon.com/ch/42-1442648 </a>
            and Amazon donates to S O L A S Support Our Local Animal Shelter. <br/>
                    <img src="~/images/FATHERSDAY_300x250._CB462830001_.png" />
        </p>
        <p>@Html.ActionLink("Check Out Our Events >>", "Events", "Events", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>We need foster parents!</h2>
        <p>SOLAS is in DESPERATE need of more foster parents!  We have so many cats needing homes and we need places to put them.
        Won't you please help us out?</p>
        <div><p>@Html.ActionLink("Learn more >>", "Foster", "Help", null, new {@class = "btn btn-default" })</p></div>
        <!--<p><a class="btn btn-default" href="~/Views/Home/Foster.cshtml">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>June Cat Of The Month</h2>
        <p>
            Cause baby, now we've got Bad Blood.
            Just as beautiful as Taylor Swift, our pretty Pancake is back up for adoption... with a different type of bad blood. 
            She was returned after a few weeks because her person developed severe allergies. 
            But that's not the worst of it. 
            Her recent vet check showed a positive blood test for FIV, or kitty aids. 
            She was previously tested, but the test can take several months to be accurate. 
            She has not had any health issues, she is a happy & playful kitty!
            <b>Her adoption donation is only $35.</b>
        </p>
        <div><p>@Html.ActionLink("Check out the cat! >>", "Cat_Of_The_Month", "Home", null, new { @class = "btn btn-default" })</p></div>
    </div>
</div>