@{
    ViewBag.Title = "Home";
}

<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Mike rocks.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
    -->
<div> <img src="~/images/BranchBannerPlaceholder.jpg" alt="Cats" style="width:1200px;height:380px;" align="right"> </div>

<div class="row">
    <div class="col-md-4">
        <h2>SOLAS News</h2>
        <p>
            Advance America will be hosting SOLAS for an Adoption Event
            and Food & Litter Drive!!! Come out to Advance America in Lake
            Manawa on <b>August 19th 2017</b> from 9:30am to 1:30pm and meet adoptable
            SOLAS kitties. Can't adopt? No problem! Bring a bag of Purina
            cat/kitten Chow or a container of scoopable litter to help the
            SOLAS foster kitties! Thanks for your support!!!
        </p>
        <p>@Html.ActionLink("Check Out Our Events >>", "Events", "Events", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>We need foster parents!</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <div><p>@Html.ActionLink("Learn more >>", "Foster", "Home", new {@class = "btn btn-default" })</p></div>
        <!--<p><a class="btn btn-default" href="~/Views/Home/Foster.cshtml">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Cat Of The Month</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <div><p>@Html.ActionLink("Check out the cat! >>", "Cat_Of_The_Month", "Home", new { @class = "btn btn-default" })</p></div>
    </div>
</div>