@{
    ViewBag.Title = "Home";
}

<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Mike rocks.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
    -->
<div> <img src="~/images/BranchBannerPlaceholder.jpg" alt="Cats" align="right"> </div>

<div class="row">
    <div class="col-md-4">
        <h2>SOLAS News</h2>
        <p>
            Your shopping matters. This Mother's Day, shop for Mom  <a href="https://smile.amazon.com/ch/42-1442648">
            <img src="~/images/amazon_smile_mothers_day.jpg" /> </a> <br />
            and Amazon donates to S O L A S Support Our Local Animal Shelter.
        </p>
        <p>
            <br /> <em>ALSO</em> <br />
            Paint and Save Cats Fundraiser at The Corky Canvas<br />
            Tuesday, June 05, 2018 from 6:30pm to 8:30pm
        </p>
        <p>@Html.ActionLink("Check Out Our Events >>", "Events", "Events", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>We need foster parents!</h2>
        <p>SOLAS is in DESPERATE need of more foster parents!  We have so many cats needing homes and we need places to put them.
        Won't you please help us out?</p>
        <div><p>@Html.ActionLink("Learn more >>", "Foster", "Help", null, new {@class = "btn btn-default" })</p></div>
        <!--<p><a class="btn btn-default" href="~/Views/Home/Foster.cshtml">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Cat Of The Month</h2>
        <p>
            Meet our May Cat of the Month!
            SOLAS (and Midnight) are still looking for that special home with a little extra love to give.
            Midnight is a lovely petite 9 month old black neutered male.
            Very calm personality, not overly lovey, but not skittish either.
            Through no fault of his own, he has a virus that causes snots.
            He also has itchy skin which causes him to overgroom.
            He has just started taking 1/2 of an inexpensive allergy pill (Claritin) everyday and it seems to be helping the itchy skin.
            He is a good boy about taking his pill and just needs someone who has a little extra love to give.
            <b>His adoption donation is only $35.</b>
        </p>
        <div><p>@Html.ActionLink("Check out the cat! >>", "Cat_Of_The_Month", "Home", null, new { @class = "btn btn-default" })</p></div>
    </div>
</div>