@{
    ViewBag.Title = "Home";
}

<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Mike rocks.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
    -->
<div> <img src="~/images/BranchBannerPlaceholder.jpg" alt="Cats" align="right"> </div>

<div class="row">
    <div class="col-md-4">
        <h2>SOLAS News</h2>
        <p>
            <img src="~/images/Feline Santas_small.png" /></p>
        <p>
            Shop for everyone on your gift list this holiday using this 
            <a href="http://smile.amazon.com/ch/42-1442648" target="_blank">link</a>
            and Amazon donates to S O L A S Support Our Local Animal Shelter.
        </p>
        
        <p>@Html.ActionLink("Check Out Our Events >>", "Events", "Events", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>We need foster parents!</h2>
        <p>SOLAS is in DESPERATE need of more foster parents!  We have so many cats needing homes and a need places to put them.
        Won't you please help us out?</p>
        <div><p>@Html.ActionLink("Learn more >>", "Foster", "Help", null, new {@class = "btn btn-default" })</p></div>
        <!--<p><a class="btn btn-default" href="~/Views/Home/Foster.cshtml">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Cat Of The Month</h2>
        <p> Meet our December/January Cat of the Month! 
        Dizzy is a shy 1yr old cat. Dizzy got his name because of how he walks. 
        He survived Distemper, a highly fatal cat disease. 
        The consequence of surviving is that he has Cerebellar Hypoplasia. 
        It leaves him being unsteady and unable to walk completely straight.
<b>His adoption donation is only $35. </b></p>
        <div><p>@Html.ActionLink("Check out the cat! >>", "Cat_Of_The_Month", "Home", null, new { @class = "btn btn-default" })</p></div>
    </div>
</div>