@{
    ViewBag.Title = "Home";
}

<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Mike rocks.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
    -->
<div> <img src="~/images/BranchBannerPlaceholder.jpg" alt="Cats" align="right"> </div>

<div class="row">
    <div class="col-md-4">
        <h2>SOLAS News</h2>

        <p>
            Amazon's fourth-annual Prime Day is coming up on Tuesday,
            July 17 and will feature one-of-a-kind deals exclusively for Prime members.
            Your shopping makes a difference. Amazon donates to S O L A S Support Our Local Animal Shelter 
            when you shop Prime Day deals at <a href="http://smile.amazon.com/ch/42-1442648">smile.amazon.com/ch/42-1442648</a>

        </p>
        <p>@Html.ActionLink("Check Out Our Events >>", "Events", "Events", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>We need foster parents!</h2>
        <p>SOLAS is in DESPERATE need of more foster parents!  We have so many cats needing homes and we need places to put them.
        Won't you please help us out?</p>
        <div><p>@Html.ActionLink("Learn more >>", "Foster", "Help", null, new {@class = "btn btn-default" })</p></div>
        <!--<p><a class="btn btn-default" href="~/Views/Home/Foster.cshtml">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Cat Of The Month</h2>
        <p>
            Kingsley has the best personality! He's great with dogs, other cats, and kids. Talk about gorgeous on the inside AND outside! He has one flaw that he hopes you can overlook. He has the herpes virus which isn't as bad as it sounds. It just means that he has allergy-like symptoms occasionally- sneezes, runny eye. If you promise to wipe his watery eye, he promises to love you forever and ever. He was born on 8-13-17, so he's just a youngin' with lots of snuggles and playfulness.
            <b>His adoption donation is only $35.</b>
        </p>
        <div><p>@Html.ActionLink("Check out the cat! >>", "Cat_Of_The_Month", "Home", null, new { @class = "btn btn-default" })</p></div>
    </div>
</div>